<section class="container mx-auto p-8">
    <h2 class="text-2xl font-bold mb-4 text-white">¿Por qué la Luna es fascinante?</h2>
    <p class="text-gray-700 leading-relaxed text-white ">
        La Luna ha cautivado a la humanidad a lo largo de la historia. Desde mitos y leyendas hasta
        exploraciones espaciales, sigue siendo un objeto celestial intrigante. Su influencia en las
        mareas y su papel en la estabilidad de la Tierra la convierten en un elemento crucial en
        nuestro sistema solar.
    </p>
</section>

<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 p-8 rounded-lg shadow-md"
      style="background-image: url('https://dus6dayednven.cloudfront.net/app/uploads/2020/12/JEAN-PAUL-DE-LA-HARPE.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
      <!-- Sección 1 -->
      <section class="flex-grow p-6 bg-gray-200">
        <h2 class="text-2xl font-bold mb-4">¡Bienvenido a Tu Dashboard Lunar!</h2>
        <p class="text-gray-700">Explora y gestiona información relacionada con la Luna y el espacio.</p>
      </section>
      <!-- Sección 2 -->
      <section class="flex-grow p-6 bg-gray-300">
        <h2 class="text-2xl font-bold mb-4">Datos Lunares</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <!-- Datos Lunares - Puedes cambiar estos datos con información real -->
          <div class="bg-white p-4 rounded-md shadow-md">
            <h3 class="text-lg font-semibold mb-2">Fases Lunares</h3>
            <p>Consulta las diferentes fases de la Luna durante el mes.</p>
          </div>
          <div class="bg-white p-4 rounded-md shadow-md">
            <h3 class="text-lg font-semibold mb-2">Eclipses</h3>
            <p>Descubre cuándo ocurrirán los próximos eclipses lunares y solares.</p>
          </div>
          <!-- ... Puedes agregar más datos lunares aquí -->
        </div>
      </section>

      <!-- Sección 3 -->
      <section class="flex-grow p-6 bg-gray-400">
        <h2 class="text-2xl font-bold mb-4">Exploración Espacial</h2>
        <ul class="list-disc list-inside">
          <li>Últimas noticias sobre misiones espaciales a la Luna.</li>
          <li>Descubre los detalles de la exploración lunar actual.</li>
          <li>Imágenes impresionantes de la superficie lunar.</li>
        </ul>
      </section>
    </main>